* {
    margin: 0;
    padding: 0;
}

.filter {
    margin: 8vh 0;
}

.filter h2 {
    text-align: center;
    font-size: 3rem;
}

.options {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    gap: 5vw;
}

#status,
#landing,
#type {
    width: 20vw;
    padding: 1vh 1vw;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    color: #4c4c4c;
}

#status,
#landing,
#type:hover {
    cursor: pointer;
}

#btn {
    min-width: 80px;
    font-size: 1rem;
    padding: 1vh 1vh;
    cursor: pointer;
    border: 2px solid #01959a;
    color: #01959a;
    background-color: #fff;
    border-radius: 8px;
}

#btn:hover {
    background-color: #01959a;
    color: #fff;
    transition: all 0.3s ease-in-out;
}